.Winegraph{
    position: relative;
    height:auto;
    width:100%;
    svg {
        g { 
            g{
                text{
                    fill:white!important;
            }       
            }
            
        } 
    }
}
 
